# REDIRECCIONES 301 DE LA WEB ANTIGUA
<IfModule mod_rewrite.c>
RewriteEngine On

Redirect 301 /10-tips-del-recurso-contencioso-de-nacionalidad-espanola/ /
Redirect 301 /10-tips-para-que-obtengas-la-nacionalidad-espanola/ /
Redirect 301 /areas-de-especializacion/accidentes-de-trafico/ /accidentes-trafico.html
Redirect 301 /areas-de-especializacion/accidentes-de-trafico/contacto /accidentes-trafico.html
Redirect 301 /areas-de-especializacion/derecho-bancario/ /derecho-bancario.html
Redirect 301 /areas-de-especializacion/derecho-penal/ /derecho-penal.html
Redirect 301 /areas-de-especializacion/divorcios/ /divorcios.html
Redirect 301 /areas-de-especializacion/extranjeria/agilizacion-de-nacionalidad-espanola-por-residencia/ /nacionalidad-por-residencia.html
Redirect 301 /areas-de-especializacion/extranjeria/jura-de-nacionalidad-ante-notario/ /jura-nacionalidad-notario.html
Redirect 301 /areas-de-especializacion/extranjeria/matrimonios/ /matrimonio-extranjeria.html
Redirect 301 /areas-de-especializacion/extranjeria/modificacion-de-estancia-por-estudios-a-residencia-y-trabajo-por-cuenta-ajena/ /modificacion-residencia-a-trabajo-ajena.html
Redirect 301 /areas-de-especializacion/extranjeria/modificacion-de-residencia-a-la-situacion-de-residencia-y-trabajo-por-cuenta-ajena/ /modificacion-residencia-a-trabajo-ajena.html
Redirect 301 /areas-de-especializacion/extranjeria/modificacion-de-residencia-a-residencia-y-trabajo-por-cuenta-propia/ /modificacion-residencia-a-trabajo-propia.html
Redirect 301 /areas-de-especializacion/extranjeria/modificacion-de-residencia-por-circunstancias-excepcionales-a-residencia-temporal-y-trabajo-por-cuenta-ajena/ /modificacion-residencia-a-trabajo-ajena.html
Redirect 301 /areas-de-especializacion/extranjeria/modificacion-del-regimen-comunitario-a-residencia-por-cuenta-ajena-por-nulidad-del-vinculo-matrimonial-divorcio-o-cancelacion-de-pareja-de-hecho-registrada/ /
Redirect 301 /areas-de-especializacion/extranjeria/nacionalidad-espanola-por-opcion/ /nacionalidad-por-opcion.html
Redirect 301 /areas-de-especializacion/extranjeria/nacionalidad-espanola-por-residencia/ /nacionalidad-por-residencia.html
Redirect 301 /areas-de-especializacion/extranjeria/nacionalidad-por-ley-de-memoria-democratica/ /nacionalidad-memoria-democratica.html
Redirect 301 /areas-de-especializacion/extranjeria/nacionalidad-por-presuncion/ /nacionalidad-por-presuncion.html
Redirect 301 /areas-de-especializacion/extranjeria/pareja-de-hecho/ /pareja-de-hecho.html
Redirect 301 /areas-de-especializacion/extranjeria/reagrupacion-familiar-de-ciudadano-de-la-ue/ /reagrupacion-familiar-ue.html
Redirect 301 /areas-de-especializacion/extranjeria/reagrupacion-familiar-de-extranjero/ /reagrupacion-familiar-extranjero.html
Redirect 301 /areas-de-especializacion/extranjeria/renovacion-de-residencia-altamente-cualificado/ /residencia-altamente-cualificado.html
Redirect 301 /areas-de-especializacion/extranjeria/renovacion-de-residencia-no-lucrativa/ /visado-residencia-no-lucrativa.html
Redirect 301 /areas-de-especializacion/extranjeria/renovacion-de-residencia-para-investigacion/ /renovacion-investigacion.html
Redirect 301 /areas-de-especializacion/extranjeria/renovacion-de-residencia-por-agrupacion-familiar/ /renovacion-agrupacion-familiar.html
Redirect 301 /areas-de-especializacion/extranjeria/renovacion-de-residencia-por-trabajo-cuenta-ajena-propia/ /residencia-trabajo-cuenta-propia.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-de-ciudadano-de-la-union/ /residencia-ciudadano-ue.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-de-larga-duracion/ /residencia-larga-duracion.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-del-hijo-de-residente-legal-nacido-en-espana/ /residencia-hijo-no-nacido-espana.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-del-hijo-de-residente-legal-no-nacido-en-espana/ /residencia-hijo-no-nacido-espana.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-no-lucrativa/ /residencia-no-lucrativa.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-nomada-digital/ /residencia-nomada-digital.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-por-arraigo-de-formacion/ /residencia-arraigo-socioformativo.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-por-arraigo-de-segunda-oportunidad/ /residencia-arraigo-segunda-oportunidad.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-por-arraigo-familiar/ /residencia-arraigo-social.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-por-arraigo-laboral/ /residencia-arraigo-sociolaboral.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-por-arraigo-social/ /residencia-arraigo-social.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-por-arraigo-socioformativo/ /residencia-arraigo-socioformativo.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-por-arraigo-sociolaboral/ /residencia-arraigo-sociolaboral.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-por-contrataciones-en-origen/ /residencia-contrataciones-origen.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-profesional-altamente-cualificado/ /residencia-altamente-cualificado.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-y-trabajo-por-cuenta-ajena/ /residencia-trabajo-cuenta-ajena.html
Redirect 301 /areas-de-especializacion/extranjeria/residencia-y-trabajo-por-cuenta-propia/ /residencia-trabajo-cuenta-propia.html
Redirect 301 /areas-de-especializacion/extranjeria/visado-de-estancia-por-estudios/ /visado-estancia-estudios.html
Redirect 301 /areas-de-especializacion/extranjeria/visado-de-familiar-de-ciudadano-de-la-union/ /visado-familiar-ciudadano-espanol.html
Redirect 301 /areas-de-especializacion/extranjeria/visado-de-familiar-de-ciudadano-espanol /visado-familiar-ciudadano-espanol.html
Redirect 301 /areas-de-especializacion/extranjeria/visado-de-residencia-no-lucrativa/ /visado-residencia-no-lucrativa.html
Redirect 301 /areas-de-especializacion/extranjeria/visado-de-residencia-y-trabajo-cuenta-ajena/ /residencia-trabajo-cuenta-ajena.html
Redirect 301 /areas-de-especializacion/extranjeria/visado-de-turista/ /visado-turista.html
Redirect 301 /areas-de-especializacion/gestion-inmobiliaria/ /gestion-inmobiliaria.html
Redirect 301 /areas-de-especializacion/herencias/ /herencias.html
Redirect 301 /arraigo-de-segunda-oportunidad-recupera-tu-estatus-legal-en-espana-2026/ /
Redirect 301 /arraigo-en-2025-nuevas-instrucciones-del-reglamento-de-extranjeria/ /
Redirect 301 /arraigo-sociolaboral-2025-nueva-hoja-informativa-ya-publicada/ /
Redirect 301 /aviso-legal/ /aviso-legal.html
Redirect 301 /caso-de-exito-revolving-cliente-cofidis-furio-capital/ /
Redirect 301 /caso-de-exito-tarjeta-de-residencia-concedida/ /
Redirect 301 /category/casos-de-exito/ /
Redirect 301 /category/noticias/ /
Redirect 301 /category/noticias/derecho-bancario/ /
Redirect 301 /category/noticias/derecho-penal/ /
Redirect 301 /category/noticias/derecho-penal/page/1/ /
Redirect 301 /category/noticias/derecho-penal/page/2/ /
Redirect 301 /category/noticias/divorcios/ /
Redirect 301 /category/noticias/extranjeria/ /
Redirect 301 /category/noticias/extranjeria/page/1/ /
Redirect 301 /category/noticias/extranjeria/page/2/ /
Redirect 301 /category/noticias/extranjeria/page/3/ /
Redirect 301 /category/noticias/extranjeria/page/4/ /
Redirect 301 /category/noticias/page/1/ /
Redirect 301 /category/noticias/page/2/ /
Redirect 301 /category/noticias/page/3/ /
Redirect 301 /category/noticias/page/4/ /
Redirect 301 /category/noticias/page/5/ /
Redirect 301 /category/noticias/page/6/ /
Redirect 301 /conoces-los-tipos-de-arraigo-que-existen-en-2023-te-lo-explicamos/ /
Redirect 301 /cuando-y-como-denunciar-una-prueba-ilicita-lecciones-clave-de-la-sts-106-2017/ /
Redirect 301 /defensa-penal-especializada-en-delitos-de-amenazas-y-coacciones-en-madrid/ /
Redirect 301 /defensa-penal-especializada-en-delitos-sexuales-en-madrid/ /
Redirect 301 /delito-de-falsedad-documental-defensa-penal-especializada-en-madrid/ /
Redirect 301 /delitos-cometidos-en-internet-y-redes-sociales-defensa-penal-especializada-en-madrid/ /
Redirect 301 /delitos-contra-la-administracion-publica-defensa-penal-especializada-en-madrid/ /
Redirect 301 /delitos-contra-la-intimidad-y-la-propia-imagen-defensa-penal-especializada-en-madrid/ /
Redirect 301 /delitos-contra-la-salud-publica-defensa-penal-especializada-en-madrid/ /
Redirect 301 /delitos-contra-la-seguridad-vial-defensa-penal-especializada-en-madrid/ /
Redirect 301 /delitos-contra-los-derechos-de-los-trabajadores-en-madrid/ /
Redirect 301 /delitos-de-lesiones-madrid/ /
Redirect 301 /delitos-economicos-defensa-penal-especializada-en-madrid/ /
Redirect 301 /delitos-violencia-de-genero-madrid/ /
Redirect 301 /diferencias-entre-la-custodia-exclusiva-y-la-custodia-compartida/ /
Redirect 301 /dispensa-para-los-examenes-de-nacionalidad-espanola-en-2023/ /
Redirect 301 /documentos-para-un-visado-de-corta-duracion/ /
Redirect 301 /el-supremo-corrige-una-condena-por-intento-de-asesinato-que-cambia-si-no-hay-acuerdo-entre-los-agresores-sts-374-2025/ /
Redirect 301 /el-tribunal-supremo-absuelve-a-dos-personas-condenadas-por-explotacion-de-la-prostitucion-con-consentimiento/ /
Redirect 301 /el-tribunal-supremo-absuelve-por-apropiacion-indebida-y-aclara-los-limites-entre-delito-penal-e-incumplimiento-contractual/ /
Redirect 301 /el-tribunal-supremo-aclara-cuando-hay-falsedad-documental-mercantil-y-cuando-se-absorbe-por-el-delito-de-estafa/ /
Redirect 301 /el-tribunal-supremo-aclara-el-alcance-del-in-dubio-pro-reo-en-la-apreciacion-de-eximentes-y-atenuantes/ /
Redirect 301 /el-tribunal-supremo-admite-la-validez-de-declaracion-preconstituida-no-reproducida-en-juicio-y-refuerza-el-derecho-de-defensa/ /
Redirect 301 /eres-venezolano-y-tienes-el-pasaporte-caducado-esto-es-lo-que-debes-saber-en-2025/ /
Redirect 301 /etias-2026-asi-cambiara-la-entrada-al-espacio-schengen-para-ciudadanos-latinoamericanos/ /
Redirect 301 /familiar-de-ciudadano-espanol/ /
Redirect 301 /golden-visa-en-2023-obten-tu-residencia-en-espana-como-inversor/ /
Redirect 301 /guia-definitiva-para-reclamar-tu-tarjeta-revolving/ /
Redirect 301 /la-jura-de-nacionalidad-ante-notario-2023/ /
Redirect 301 /limites-de-la-investigacion-policial-cuando-una-medida-de-injerencia-puede-ser-nula-por-ser-una-investigacion-prospectiva/ /
Redirect 301 /llegas-tarde-para-solicitar-la-estancia-por-estudios-en-espana-estas-son-las-excepciones-al-plazo-de-2-meses-que-puedes-alegar-en-2025/ /
Redirect 301 /nacionalidad-espanola-la-nueva-ley-de-nietos/ /
Redirect 301 /nacionalidad-espanola-por-opcion-para-hijos-menores-una-oportunidad-que-no-debes-perder-2026/ /
Redirect 301 /nacionalidad-espanola-por-residencia-en-2025-todo-lo-que-necesitas-saber/ /nacionalidad-por-residencia.html
Redirect 301 /novedad-2025-nueva-hoja-informativa-sobre-residencia-independiente-por-vinculos-con-personas-espanolas/ /
Redirect 301 /novedad-2025-publicada-la-nueva-hoja-informativa-sobre-reagrupacion-familiar-conforme-al-nuevo-reglamento-de-extranjeria/ /
Redirect 301 /novedad-2025-publicadas-las-nuevas-tasas-administrativas-de-extranjeria-conforme-al-nuevo-reglamento-2/ /
Redirect 301 /novedad-2025-publicadas-las-nuevas-tasas-administrativas-de-extranjeria-conforme-al-nuevo-reglamento/ /
Redirect 301 /nueva-hoja-informativa-2025-estancia-de-larga-duracion-para-estudios-en-espana/ /
Redirect 301 /nueva-instruccion-3-2025-sobre-estancia-de-larga-duracion-por-estudios-claves-del-nuevo-reglamento-de-extranjeria/ /
Redirect 301 /politica-de-cookies/ /politica-cookies.html
Redirect 301 /politica-de-privacidad/ /politica-privacidad.html
Redirect 301 /puede-el-silencio-del-acusado-perjudicarle-el-tribunal-supremo-lo-aclara-en-la-sts-298-2020/ /
Redirect 301 /quien-debe-de-pagar-la-hipoteca-y-los-gastos-de-la-vivienda-en-caso-de-divorcio-o-separacion/ /
Redirect 301 /quienes-pueden-obtener-la-tarjeta-de-residencia-permanente-de-familiar-de-ciudadano-de-la-ue/ /
Redirect 301 /quienes-pueden-obtener-la-tarjeta-de-residencia-por-arraigo-familiar/ /
Redirect 301 /regularizacion-masiva-de-extranjeros-en-espana-2026/ /regularizacion-masiva.html
Redirect 301 /renueva-tu-permiso-de-residencia-a-tiempo-2026/ /
Redirect 301 /residencia-familiar-2025-el-arraigo-familiar-ahora-es-la-tarjeta-de-residencia-de-familiar-de-ciudadano-espanol/ /
Redirect 301 /residencia-familiar-2025-nueva-instruccion-para-familiares-de-espanoles-con-el-reglamento-de-extranjeria/ /visado-familiar-ciudadano-espanol.html
Redirect 301 /residencia-no-lucrativa/ /
Redirect 301 /residencia-temporal-no-lucrativa-en-madrid-2023-vive-tu-sueno-en-espana-sin-complicaciones/ /
Redirect 301 /se-te-paso-el-plazo-para-solicitar-la-residencia-de-tu-hijo-nacido-en-espana-nueva-solucion-en-2025/ /
Redirect 301 /sentencia-ganada-contra-caixabank/ /
Redirect 301 /sentencia-sts-580-2025-el-supremo-aclara-los-limites-probatorios-en-el-quebrantamiento-de-medidas-cautelares/ /
Redirect 301 /sts-1825_2025-el-tribunal-supremo-precisa-los-limites-del-delito-de-frustracion-de-la-ejecucion/ /
Redirect 301 /sts-428-2025-el-tribunal-supremo-eleva-la-indemnizacion-a-una-victima-de-agresion-sexual-al-considerar-insuficiente-la-cuantia-por-danos-morales/ /
Redirect 301 /sts-575-2025-el-tribunal-supremo-descarta-la-estafa-informatica-por-autoasignacion-de-servicios-de-taxi/ /
Redirect 301 /sts-634_2025-el-tribunal-supremo-analiza-la-validez-de-las-capturas-de-whatsapp-como-prueba-penal/ /
Redirect 301 /sts-799_2024-es-realmente-objetiva-la-atenuante-de-reparacion-del-dano/ /
Redirect 301 /testigo-anonimo-y-el-articulo-173-cc-es-valida-su-declaracion-en-un-proceso-penal/ /
Redirect 301 /tipos-de-visado/ /
Redirect 301 /todo-lo-que-debes-saber-sobre-la-ley-de-nomadas-digitales-de-espana-en-2023/ /
Redirect 301 /traer-a-tus-padres-a-espana-ahora-es-mucho-mas-sencillo-en-2023/ /
Redirect 301 /tu-matrimonio-se-celebro-fuera-de-espana-esto-es-lo-que-debes-saber-en-2025/ /
Redirect 301 /vivir-en-espana-como-nomada-digital-trabaja-en-remoto-y-disfruta-europa-2026/ /
Redirect 301 /wp-content/uploads/2025/07/3.-Nueva-hoja-informativa-sobre-residencia-independiente-por-vinculos-con-personas-espanolas.docx /
Redirect 301 /wp-content/uploads/2025/08/3.-STS_519_2025.pd /
</IfModule>
